* {
    margin: 0;
}

nav {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #95a5a6;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    flex: 1;
    margin-right: 10px;
}

.navButton {
    text-decoration: none;
}

.navGroup {
    flex:4;
    text-align: right;
    display: flex;
    min-width: 370px;
}

body {
    background-color: #ecf0f1;
}
button {
    border: none;
    height: 100%;
}
input {
    background-color: #bdc3c7;
    border: none;
}

.fork {
    background-color: #3498db;
}

.copy {
    background-color: #3498db;
}
